:root {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #000000;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

body,
input,
button,
textarea {
  font-family: "Karla", sans-serif;
  font-size: 1.6rem;
  outline: none;
}

h1,
h2,
.card-title {
  font-family: "Markazi Text", serif;
}

h1 {
  font-size: 6.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4rem;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
}

h4 {
  font-size: 1.8rem;
  font-weight: 800;
}

.lead-txt {
  font-weight: 500;
}

.highlight {
  font-weight: 500;
}

.card-title {
  font-size: 1.8rem;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
a,
input[type="submit"] {
  cursor: pointer;
  transition: filter 0.2s;
}

button:hover,
a:hover,
input[type="submit"]:hover {
  filter: brightness(0.9);
}

.app-container {
  padding: 20px;
}
